

<div class="main-content">
<form #form ="ngForm" (ngSubmit)="save()"> 
    <label>Id</label>
    <input type="text" class="form-control" name="id" required #id="ngModel" [(ngModel)]="data.id">
    
    
    <label>Code</label>
    <input type="text" class="form-control" name="code" required #code="ngModel" [(ngModel)]="data.code">
    
    <label>Name</label>
    <input type="text" class="form-control" name="empname" required #empname="ngModel" [(ngModel)]="data.empname">
    
    <label>Address</label>
    <input type="text area" class="form-control" name="address" required #address="ngModel" [(ngModel)]="data.address">
    
    <label>Po box</label>
    <input type="text" class="form-control" name="pobox" required #pobox="ngModel" [(ngModel)]="data.pobox">
    
    <label>Phone number</label>
    <input type="text" class="form-control" name="phonenumber" required #phonenumber="ngModel" [(ngModel)]="data.phonenumber">
    
    <label>Email</label>
    <input type="text" class="form-control" name="email" required #email="ngModel" [(ngModel)]="data.email">
    
    <label>Active/inactive</label>
    <input type="checkbox" name="checkbox" required #id="ngModel" [(ngModel)]="data.checkbox">
    
    <br><button name="submit" class="btn btn-primary" >save</button>
</form>

</div>

